.pagina_clientes {
    padding-top: 4em;
}

.pagina_clientes h2 {
    padding: 0 1em;
    font-size: 2.7rem;
    font-weight: 600;
}

/* Carrossel */

.pagina_clientes img {
    width: 100%;
}

.slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide_track {
    display: flex;
    width: calc(350px * 10);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-350px * 5));
    }
}

.slide {
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 2em;
}

/* sombras */

.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: "";
    height: 100vh;
    position: absolute;
    width: 10%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@media(max-width: 950px) {
    /* ajustar tamanho */
    .slide_track {
        width: calc(250px * 10);
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 5));
        }
    }
    
    .slide {
        width: 250px;
    }
}