.pagina_contato {
    height: 920px;
    padding: 8em 7em;
}

.pagina_contato h2 {
    font-size: 3.7rem;
    font-weight: 600;
}

.pagina_contato p {
    font-size: 1.1rem;
    margin: 1em 0;
}

.pagina_contato form {
    display: flex;
    flex-direction: column;
}

.pagina_contato label {
    margin: 16px 0 5px 0;
}

.pagina_contato input {
    height: 60px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}

.pagina_contato textarea {
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 32px;
}

.submit_btn {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    background-color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 1.2rem;
    transition-duration: 500ms;
}

.submit_btn:hover {
    scale: 101%;
    box-shadow:  5px 5px 10px #afafaf, -5px -5px 10px #ffffff;
}

@media(max-width: 950px) {
    .pagina_contato {
        padding: 8em 2em;
    }
}