.pagina_home {
    background-image: url(/SITE-IMAGENS/7d74eae5015dff9d9fe6b855116f747d.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    height: 100vh;
    padding-top: 12vh;
}

.container_home_texto {
    display: flex;
    flex-direction: column;
    margin: 2em auto auto 7em;
    padding-right: 5%;
}

.container_home_texto p {
    color: var(--cor-primaria);
}

.titulo_strong{
    color: var(--cor-secundaria);
}

.home_apresentacao h1 {
    font-size: 4rem;
}

.home_apresentacao p {
    font-size: 1.5rem;
    margin-top: 1em;
}

.link_apresentacao {
    background-color: var(--cor-secundaria);
    width: 300px;
    text-decoration: none;
    color: var(--cor-primaria);
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    margin: 3em 0 3em 0;
    transition-duration: 500ms;
}

.link_apresentacao:hover {
    scale: 105%;
    box-shadow:  5px 5px 10px #afafaf, -5px -5px 10px #ffffff;
}

.download_p {
    font-weight: 600;
    font-size: 1.6rem;
}

.links_download a img {
    width: 18%;
    margin-right: 15px;
    transition-duration: 500ms;
}

.links_download a img:hover {
    scale: 105%;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #afafaf, -5px -5px 10px #ffffff;
}

@media(max-width: 1180px) {
    .pagina_home {
        background-size: 180%;
        background-position-x: right;
    }
    
    .container_home_texto {
        margin: 2em 0 0 2em;
        padding-right: 35%;
    }
    
    .home_apresentacao h1 {
        font-size: 2.5rem;
    }
    
    .link_apresentacao {
        margin: 2em 0 2em 0;
        transition-duration: 500ms;
    }
    
    .links_download a img {
        width: 40%;
    }

    .home_apresentacao br {
        display: none;
    }
}

@media(max-width: 950px) {
    .pagina_home {
        background-size: 180%;
        background-position-x: right;
        background-position-y: bottom;
        height: 100vh;
        padding-top: 12vh;
    }
    
    .container_home_texto {
        margin: 2em 2em 0 2em;
        padding-right: 10%;
    }
    
    .home_apresentacao h1 {
        font-size: 2.2rem;
    }

    .home_apresentacao p {
        padding-right: 35%;
    }
    
    .link_apresentacao {
        width: 250px;
        margin: 1em 0 1em 0;
    }
    
    .download_p {
        font-size: 1.2rem;
    }
    
    .links_download {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 500px) {
    
}